@model IEnumerable<TaskData>

@{
    ViewData["Title"] = "Task Details";
}

<div class="containter-fluid row" style="background-color:yellowgreen">
    <div class="col-md-8 offset-2">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th scope="col">@Html.DisplayNameFor(model => model.id)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.taskName)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.startDate)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.endDate)</th>
                    <th scope="col">Actions</th>
                    <br />
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="align-middle text-center">
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td class="align-middle text-center">
                        @Html.DisplayFor(modelItem => item.taskName)
                    </td>
                    <td class="align-middle text-center">
                        @Html.DisplayFor(modelItem => item.startDate)
                    </td>
                    <td class="align-middle text-center">
                        @Html.DisplayFor(modelItem => item.endDate)
                    </td>
                    <td class="align-middle text-center">
                        <a class="btn btn-outline-primary" asp-route-id="@item.id" asp-controller="Task" asp-action="Edit"><i class="bi bi-pencil-square"></i>Edit</a>
                        <a class="btn btn-outline-success" asp-route-id="@item.id" asp-controller="Task" asp-action="Details"><i class="bi bi-eye"></i>Details</a>
                        <a class="btn btn-outline-danger" asp-route-id="@item.id" asp-controller="Task" asp-action="Delete"><i class="bi bi-trash"></i>Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@await Html.PartialAsync("_CreateItem","Task");